:root{
    --main-color:#2196f3;
}
*{
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
}
.container{
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
/* Start Settings Box */
.settings-box{
    position: fixed;
    z-index: 20;
    background-color: #ffffffed;
    min-height: 100vh;
    width: 130px;
    border-radius: 0mm 2.5mm 2.5mm 0mm;
    top: 0;
    left: -130px;
    transition: 0.3s;
    border: 1px solid #EEE;
}
.settings-box.open {
    left:0 ;
}
.settings-box .toggle-settings{
    position: absolute;
    right: -30px;
    top: 150px;
    text-align: center;
    background-color: #ffffffed;
    border-radius: 0mm 1mm 1mm 0mm;
    cursor: pointer;
}
.settings-box .fa-gear{
font-size: 20px;
width: 30px;
padding: 8px 0;
}
.settings-box .option-box{
    padding: 18px 0 10px 0;
    text-align: center;
    background-color: #EEE;
    margin-top: 11px;
    border-radius: 9mm;
}
.settings-box .option-box h4{
margin: 0;
color: #666;
font-size: 14px;
}
.settings-box .option-box .colors-list{
list-style: none;
padding: 0;
}
.settings-box .option-box .colors-list li{
    width: 22px;
    height: 22px;
    background-color: #4788;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border: 3px solid #EEE;
}
.settings-box .option-box .colors-list li.active{
border-color: #FFF;
}

.settings-box .option-box .colors-list li:first-child{
    background-color: #2196f3;
}
.settings-box .option-box .colors-list li:nth-child(2){
    background-color: #00eeff;
}
.settings-box .option-box .colors-list li:nth-child(3){background-color: #ff0026;}
.settings-box .option-box .colors-list li:nth-child(4){background-color:  #33ff00;}
.settings-box .option-box .colors-list li:nth-child(5){background-color: #ff00dd;}

.settings-box .option-box .yes,
.settings-box .option-box .no{
    width: 80px;
    background-color: var(--main-color);
    color: #FFF;
    margin-top: 10px;
    display: inline-block;
    font-size: 12px;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
    opacity: 0.5;
    cursor: pointer;
}
.settings-box .option-box span.active{
    opacity: 1;
}
.settings-box .reset-options{
    background-color: #F44336;
    border: none;
    width: 111px;
    margin:10px 5px 10px 7.8px;
    display: block;
    color: #FFF;
    font-weight: bold;
    padding: 2px;
    border-radius: 4px;
    cursor: pointer;
}
/* End Settings Box */
.landing-page{
    min-height: 100vh;
    width: 100%;
    background-image: url(../Imgs/5.jpg);
    background-size:cover;
    position: relative;
}
/*@media  (max-width: 576px){
    .landing-page{
        width: 300%;
    }
}*/
.landing-page .overlay{
    background-color: rgb(0 0 0 / 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index:1;
}
.landing-page .container {
position: relative;
z-index: 1000;
}
.header-area{
    position: relative;
    z-index: 2;
    color:#FFF;
    display: flex;
    padding: 10px;
}
.header-area  .links-container{
    width: 100%;
    text-align: right;
}
.header-area .logo{
    font-weight: bold;
    width: 300px;
    padding: 15px;
}
.header-area ul{
    list-style: none;
    padding-left: 0;
}

.header-area ul li{
    display: inline-block;
    margin-left: 10px;
}
.header-area ul li a{
    color: white;
    text-decoration: none;
}
.header-area ul li a:hover,
.header-area ul li a.active {
color: var(--main-color);
transition: 0.3s;
}
.header-area .toggle-menu{
background: none;
border: none;
width: 40px;
cursor: pointer;
margin-top: 15px;
text-align: right;
display: none ;
}
.header-area .toggle-menu.menu-active:before {
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #FFF transparent;
    position: absolute;
    bottom: 2px;
    right: 22px;
}

.header-area .toggle-menu:focus {
    outline: none;
}
.header-area .toggle-menu span{
    display: block;
    background-color: #FFF;
height:4px;
margin-bottom: 4px;
}
.introduction-text{
position:absolute;
color: white;
z-index: 2;
top: 50%;
left: 50%;
text-align: center;
transform: translate(-50%,-50%);
width: 95%;
}
.introduction-text h1{
    font-size: 34px;
    margin:0 0 12px;
}
@media (max-width:575px){
    .introduction-text h1 {
        font-size: 26px;
    }
}
.introduction-text h1 span{
    color: var(--main-color);
}
.introduction-text p {
    line-height: 1.6;
    font-size: 20px;
    margin: 0;
}
@media( max-width: 991px  ) {
    .header-area ul {
        display: none;
    }
    .header-area ul.open {
        background-color: #FFF;
        padding: 10px;
        display: block;
        position: absolute;
        left: 0;
        top: 50px;
        width : 100% ;
        border-radius: 4px;
        text-align: left;
    }
    .header-area ul.open li {
        display: block;
        margin: 10px;
    }
    .header-area ul.open li a {
    color: var(--main-color);
    font-weight: bold;
    }
    .header-area .toggle-menu {
        display: inline-block;
    }
}

/* Start About Us */
.about-us{
padding-top: 50px;
padding-bottom: 50px;
display: flex;
}
@media (max-width:767px){
    .about-us {
        display: block;
        text-align: center;
    }
}
.about-us .info-box{
flex: 1;
padding: 30px;
}
@media (max-width:767px){
    .about-us .info-box {
        padding: 0;
    }
}
.about-us .info-box h2{
font-weight:  bold;
font-size: 30px;
color: var(--main-color);
margin: 0 0 10px;
}
.about-us .info-box p{
line-height: 1.8;
color:#767676;
margin: 0;
}
.about-us .image-box {
flex: 1;
text-align: center;
}
.about-us .image-box img {
    width: 250px;
}
/* End About Us */
/* Start Skills */
.skills{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #EEE;
}
.skills h2 {
font-weight:  bold;
font-size: 30px;
color: var(--main-color);
margin: 0 0 50px;
}
.skills .skill-box{
    background-color: #FFF;
    display: flex;
    padding: 15px;
    margin-bottom: 15px;
}
@media (max-width: 767px){
    .skills .skill-box {
        display: block ;
    }
}
.skills .skill-box .skill-name {
    font-weight: bold;
    width: 140px;
    text-align: center;
    line-height: 30px;
}
@media (max-width: 767px){
    .skills .skill-box .skill-name{
        width: 100% ;
        margin-bottom: 15px ;
    }
}
.skills .skill-box .skill-progress {
    height: 30px;
    width:100%;
    background-color: #f6f6f6;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}
.skills .skill-box .skill-progress span {
position:absolute;
left: 0;
top: 0;
width: 0;
height: 100%;
background-color: var(--main-color);
transition:ease-in-out all 1s;
}
/* End Skills */
/* Start Gallery */
.gallery{
padding-top: 50px;
padding-bottom: 50px;
text-align: center;
}
.gallery h2 {
    font-weight:  bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 50px;
    text-align: center;
}
.gallery .images-box {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.gallery .images-box img {
width: 200px;
padding: 3px;
background-color: #F6F6F6;
border: 1px solid #CCC;
margin: 5px;
cursor: pointer;
}
.popup-overlay{
    position: fixed;
    background-color: rgb(0 0 0 / 0.7);
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
}
.popup-box{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    border: 1px solid #CCC;
    padding: 20px;
    z-index: 1001;
}
.popup-box h3{
    font-weight: bold;
    text-align: center;
    margin: 0 0 20px;
    color: var(--main-color);
}
.popup-box img {
max-width: 100%;
}
.close-button{
    position:absolute;
    top: -15px;
    right: -15px;
    background-color: var(--main-color);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color: #FFF;
    cursor: pointer;
    font-weight:bold;
    font-family: Arial , Tahoma;
    border-radius: 50%;
}
/* End Gallery */
/* Start Timeline */
.timeline{
    padding-top:50px;
    padding-bottom: 50px;
    background-color: #EEE;
}
.timeline .timeline-content{
position: relative;
overflow: hidden;
}
.timeline .timeline-content:before {
    content:'';
    width: 2px;
    height:100%;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    margin-left:-1px;
    top:0;
}
.timeline .timeline-content .year{
    margin: 20px auto;
    width: 50px;
    background-color: var(--main-color);
    position: relative;
    z-index: 2;
    border-radius: 4px;
    text-align: center;
    color: #FFF;
    padding: 2px 5px;
    font-weight: bold;
}
.timeline .timeline-content .left ,
.timeline .timeline-content .right{
    width: calc(50% - 25px);
    margin-bottom: 40px;
    position: relative;
}
@media (max-width: 767px ){
    .timeline .timeline-content .left ,
.timeline .timeline-content .right{
    width: 100%;
    margin-bottom: 20px;
}
.timeline .timeline-content .left:before ,
.timeline .timeline-content .right:before{
    display: none;
}
.timeline .timeline-content .content:before ,
.timeline .timeline-content .content:before{
    display: none;
}
}
.timeline .timeline-content .left{float: left;}
.timeline .timeline-content .left:before {
    right: -35px;
}
.timeline .timeline-content .right{float: right;}
.timeline .timeline-content .right:before {
    left: -35px;
}
.timeline .timeline-content .left:before ,
.timeline .timeline-content .right:before{
    content: '';
    width: 14px;
    height: 14px;
    background-color: #FFF;
    border: 3px solid var(--main-color);
    position:absolute;
    border-radius: 50%;
    top:20px;
}
.timeline .timeline-content .content{
    padding: 20px;
    background-color: #FFF;
}
.timeline .timeline-content .content h3{
    font-weight: bold;
    color: var(--main-color);
    margin: 0 0 10px;
}
.timeline .timeline-content .content p{
    color: #666;
    margin: 0;
    line-height: 1.6;
}
.clearfix{
    clear:both;
}
.timeline .timeline-content .left .content:before{
    content: '';
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent transparent #FFF;
    height: 0;
    width: 0;
    position:absolute;
    right: -19px;
    top:20px;
}
.timeline .timeline-content .right .content:before{
    content: '';
    border-style: solid;
    border-width: 10px;
    border-color: transparent #FFF transparent transparent;
    height: 0;
    width: 0;
    position:absolute;
    left: -19px;
    top:20px;
}
/* End Timeline */
/* Start Features */
.features{
    padding-top: 80px;
    padding-bottom: 80px;
}
.features h2{
    font-weight:  bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 60px;
    text-align: center;
}
.features .feat-box{
    width: calc(100% / 3);
    float: left;
    text-align: center;
    margin-bottom: 40px;
}
@media (max-width:991px){
    .features .feat-box{
        width: calc( 100% / 2 );
    }
}
@media (max-width:575px){
    .features .feat-box{
        width: calc( 100% );
    }
}
.features .feat-box img {
    width :96px;
}
.features .feat-box h4 {
    font-size: 22px;
    margin: 15px 0 40px;
    position: relative;
}
.features .feat-box h4:before {
    content:'';
    width: 40px;
    height: 4px;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    margin-left:-20px;
    bottom: -22px;
}
.features .feat-box p {
    width: 80%;
    margin:0 auto;
    line-height: 1.7;
    color: #706f6f;
}
/* End Features */
/* Start Testimonials */
.testimonials{
position: relative;
padding-top: 80px;
padding-bottom: 80px;
overflow: hidden;
}

.testimonials:before{
    content: '';
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--main-color);
    height: 100%;
}
.testimonials:after{    
    content: '';
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #333;
    height: 100%;}
.testimonials h2{
    font-weight:  bold;
    font-size: 30px;
    color: #FFF;
    margin: 0 0 30px;
    text-align: left;
    position: relative;
    z-index: 2;
}
@media (max-width: 767px){
    .testimonials h2{
    text-align: center;
}}
.testimonials .ts-box {
position: relative;
z-index: 2;
width: calc( 98% / 3 );
float: left;
background-color: #FFF;
padding: 20px;
}
@media (max-width:767px){
    .testimonials .ts-box {
        width: 100%;
        float: none;
        margin-bottom: 10px;
    }
}
.testimonials .ts-box:not(:last-of-type) {
margin-right: 1%;
}
.testimonials .ts-box > p {
margin: 0 0 20px;
line-height: 1.5;
font-size: 18px;
color: #707070;
font-style: italic;
}
.testimonials .ts-box .person-info {
    overflow: hidden;
}
@media (max-width: 991px) {
    .testimonials .ts-box .person-info {
        text-align: center;
        overflow: visible;
    }
}
.testimonials .ts-box .person-info img {
    float: left;
    border-radius: 50%;
    margin-right: 20px;
}
@media (max-width: 991px) {
    .testimonials .ts-box .person-info img {
float: none;
margin-right: 0;
}
}
.testimonials .ts-box .person-info h4 {
margin: 14px 0 10px;
}
.testimonials .ts-box .person-info p {
    color: #707070;
    margin: 0;
}
/* End Testimonials */
/* Start Nav Bullets */
.nav-bullets{
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    z-index: 1000;
}
.nav-bullets .bullet {
    width: 20px;
    height: 20px;
    border: 3px solid var(--main-color);
    margin: 10px auto;
    border-radius: 50% ;
    cursor: pointer;
    position: relative;
}
.nav-bullets .bullet .tooltip {
background-color: var(--main-color);
width: 120px ;
color: #FFF;
padding: 4px 10px;
right:22px;
top: -6px;
position: absolute;
border-radius: 2mm;
text-align: center;
cursor: default;
pointer-events: none;
display: none;
}
.nav-bullets .bullet:hover .tooltip {
    display: block;
}
.nav-bullets .bullet .tooltip:before {
    content: '';
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent transparent var(--main-color);
    height: 0;
    width: 0;
    position: absolute;
    right: -19px;
    border-radius: 3mm;
    top: 50%;
    transform: translate(-32%, -50%);
}
/* End Nav Bullets */
/* Start Contact Us */
.contact {
min-height: 600px;
background-image: url('../imgs/Contact\ Us.jpg');
background-size: cover;
padding-top: 80px;
padding-bottom: 80px;
position: relative;
}
/* @media  (max-width: 576px){
    .contact{
        width: 300%;
    }
}  */
.contact .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 , 255 , 255 , 0.6);
}
.contact .container{
    position: relative;
    z-index: 2;
}
.contact h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 60px;
    text-align: center;
}
.contact form{
    overflow: hidden;
    max-width: 800px;
    margin: auto;
}
.contact form .right{
    float: right;
    width: 49%;
}
.contact form .left{
    float: left;
    width: 49%;
}
@media (max-width:767px){
    .contact form .right,
    .contact form .left{
        float: none;
        width: 100%;
    }
}
.contact form input:not([type="submit"]):focus ,
.contact form textarea:focus {
    outline: 1px solid var(--main-color);
}
.contact form input:not([type="submit"]) ,
.contact form textarea {
    display: block ;
    width: 100% ;
    padding: 10px ;
    margin-bottom: 15px ;
    border: 1px solid #CCC;
    background-color: rgb(218 218 218 / 19%);}
    .contact form input {
        height: 40px;
    }
    .contact form textarea {
        height: 150px;
    }
.contact form input[type="submit"]{
padding: 10px;
width: 100%;
border-color:transparent;
background-color: var(--main-color);
color: #FFF;
cursor: pointer;
}
.contact form textarea:focus::-webkit-input-placeholder,
.contact form input:not([type="submit"]):focus::-webkit-input-placeholder {
    opacity: 0;
    transition: .3s;
}
.contact form textarea:focus::-ms-input-placeholder,
.contact form input:not([type="submit"]):focus::-webkit-input-placeholder {
    opacity: 0;
    transition: 0.3s;
}
.contact form textarea:focus::placeholder,
.contact form input:not([type="submit"]):focus::-webkit-input-placeholder {
    opacity: 0;
    transition: .3s;
}
/* End Contact Us */
/* Start Footer */
.footer{
    background-color: #333;
    color: #EEE;
    padding: 15px;
    text-align: center;
}
/* End Footer */
/* Start Grid System */
@media  (max-width: 575px ){/* Small Devices => Landscape Phones */
    .container{
        max-width: 92% ;
    }
}
@media  (min-width: 576px ){/* Small Devices => Landscape Phones */
    .container{
        max-width: 540px ;
    }
}
@media  (min-width: 768px){/* Medium Devices => Tablets Phones */
    .container{
        max-width: 720px;
    }
}
@media  (min-width: 992px){/* Desktops */
    .container{
        max-width: 960px;
    }
}
@media  (min-width: 1200px){/* Large Screens */
    .container{
        max-width: 1140px;
    }
}
/* End Grid System */